.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.m-0 {
  margin: 0;
}

.mr-3 {
  margin-right: 1rem;
}

.mx-2 {
  margin: 0 .5rem;
}

.mx-3 {
  margin: 0 1rem;
}

.w-full {
  width: 100%;
}

.px-3 {
  padding: 0 1rem;
}